{% extends "base.html" %}
{% block title %}{{ diary.title }}{% endblock %}
{% block content %}
<div class="container">
    <p><strong>{{ diary.date }}</strong></p>
    <h2>{{ diary.title }}</h2>
    <div class="diary-content">{{ diary.content }}</div>
    {% if diary.image %}
        <div style="margin-top: 20px; text-align: center;">
            <img src="{{ url_for('diary.uploaded_file', filename=diary.image) }}" 
                alt="日記画像" style="max-width: 100%; border-radius: 8px;">
        </div>
    {% endif %}
    <div class="btn-group">
        <a href="{{ url_for('diary.index') }}" class="btn btn-green">戻る</a>

        <div class="btn-right">
            <a href="{{ url_for('diary.export_diary', diary_id=diary.id) }}" 
                class="btn btn-gray">エクスポート</a>
            <a href="{{ url_for('diary.edit_diary', diary_id=diary.id) }}" class="btn btn-green">編集</a>
            <form id="delete-form-{{ diary_id }}" action="{{ url_for('diary.delete_diary', diary_id=diary.id) }}" method="POST" style="display:inline;">
                <button type="button" class="btn btn-gray" data-id="{{ diary_id }}" onclick="showDeleteDialog(this)">削除</button>
            </form>
            <dialog id="delete-dialog">
                <form method="dialog">
                    <p>本当に削除しますか？</p>
                    <div class="dialog-buttons">
                        <button id="confirm-btn" class="btn btn-green">はい</button>
                        <button id="cancel-btn" class="btn btn-gray">キャンセル</button>
                    </div>
                </form>
            </dialog>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
</div>
{% endblock %}