{% extends "base.html" %}
{% block title %}日記を編集{% endblock %}
{% block content %}
<h2>日記を編集</h2>
<form method="POST">
        <div class="form-group">
            <label>タイトル</label>
            <input type="text" name="title" value="{{ diary.title }}" require>
        </div>
        <div class="form-group">
            <label>内容</label>
            <textarea name="content" rows="6" required>{{ diary.content }}</textarea>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('diary_detail', diary_id=diary.id) }}" class="btn btn-blue">戻る</a>

            <div class="btn-right">
                <button type="submit" class="btn btn-blue">更新</button>
                <form action="{{ url_for('delete_diary', diary_id=diary.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-gray" onclick="return confirm('本当に削除しますか？');">削除</button>
                </form>
            </div>
        </div>
</form>
{% endblock %}