<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Diary App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}" class="move_top">Diary App</a></h1>
        <a href="{{ url_for('new_diary') }}" class="new-diary">日記を書く</a>
    </header>

    <div class="index-container">
        {% for id, create_date, updata_date, title, image  in diaries %}
        <a href="{{ url_for('diary_detail', diary_id=id) }}" class="index-card-link">
            <div class="index-card">
                <span class="date">{{ create_date }}</span>
                <p class="title">{{ title }}</p>
                
                {% if image %}
                <img src="{{ url_for('static', filename='uploads/' + image) }}" 
                    alt="image" class="thumbnail">
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>