{% extends "base.html" %}
{% block title %}日記を書く{% endblock %}
{% block content %}
<div class="container">
    <h2>日記を書く</h2>
    <div class="mode-select">
        <label>
            <input type="radio" name="mode" class="mode" value="create" checked>
            新規登録
        </label>
        <label>
            <input type="radio" name="mode" class="mode" value="import">
            ZIPファイルをインポート
        </label>
    </div>
    <div class="create-form">
        <form method="POST" enctype="multipart/form-data"  >
            <div class="form-group">
                <div class="label-row">
                <label>タイトル</label>
                    {% if errors.title %}
                        <span class="error-text">{{ errors.title }}</span>
                    {% endif %}
                </div>
                <input type="text" name="title" maxlength="20" placeholder="タイトル（20文字以内）" 
                value="{{ title | default('') }}" class="{% if errors.title %}input-error{% endif %}">
            </div>

            <div class="form-group">
                <div class="label-row">
                    <label>内容</label>
                        {% if errors.content %}
                            <span class="error-text">{{ errors.content }}</span>
                        {% endif %}
                </div>
                <textarea name="content" rows="6" class="{% if errors.content %}input-error{% endif %}">{{ content | default('') }}</textarea>
            </div>

            <div class="form-group">
                <div class="label-row">
                <label>画像</label>
                    {% if errors.image %}
                        <span class="error-text" id="imageErrorText">{{ errors.image }}</span>
                    {% endif %}
                    <p class="image-note">
                        対応形式：jpg / jpeg / png / gif<br>
                        ファイルサイズ：5MBまで
                    </p>
                    <div class="image-row">
                        <div class="preview-container hidden" id="newPreviewContainer">
                            <img id="newPreview" style="max-width: 200px; display:none;">
                            <button type="button" id="clearNewPreviewBtn" class="clear-btn" style="display:none;">×</button>
                        </div>
                    </div>
                </div>
                <input type="file" name="image" id="imageInput">
            </div>

            <div class="btn-group">
                <a href="{{ url_for('diary.index') }}" class="btn btn-green">戻る</a>

                <div class="btn-right">
                    <button type="submit" class="btn btn-green">保存</button>
                </div>
            </div>
        </form>
    </div>
    <div class="import-form">
        <div class="import-description">
            <p>バックアップとしてエクスポートしたZIPファイルから、日記データを取り込めます。</p>
            <ul>
                <li>本アプリでエクスポートしたZIPのみ対応</li>
                <li>画像は自動でリネームされます</li>
            </ul>
        </div>
        <form action="{{ url_for('diary.import_diary') }}"
            method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="import_file" accept=".zip" >
                <div class="btn-group">
                    <a href="{{ url_for('diary.index') }}" class="btn btn-green">戻る</a>
                    <button type="submit" class="btn btn-green">インポート</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='js/new.js') }}"></script>

{% endblock %}