body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #03A9F4;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 20px;
}
header a {
    background: white;
    color: #03A9F4;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
header a:hover {
    background: #e0f7ff;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.index-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
}

.index-card {
    background-color: white;
    border: 1px solid #333;
    border-radius: 2px;
    padding: 10px;
    text-align: left;
    height: 80px;
    box-sizing: border-box;
}

.index-card p {
    margin: 0;
}

.diary-content {
    white-space: pre-wrap;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 15px;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    text-align: center;
    color: white;
}
.btn-blue {
    background-color: #03A9F4;
}
.btn-blue:hover {
    background-color: #0288d1;
}
.btn-gray {
    background-color: #9e9e9e;
}
.btn-gray:hover {
    background-color: #757575;
}
.btn:active {
    transform: scale(0.97);
}


.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.btn-right {
    display: flex;
    gap: 12px;
}


.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}
.form-group input,.form-group textarea {
    width: 100%;
    max-width: 800px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
.form-group textarea {
  height:500px
}
