:root {
    /* text */
    --text-main: #eee;
    --text-sub: #aaa;
    --text-muted: #888;
    --text-inverse: #ffffff;

    /* background */
    --bg-body: #2a2a2a;
    --bg-surface: #1e1e1e;
    --bg-input: #2f2f2f;

    /* border */
    --border-main: #aaa;
    --border-sub: #444;

    /* accent */
    --accent: #7FAE8A;
    --accent-hover: #5E8F6A;

    /* shadow */
    --shadow-card: rgba(0, 0, 0, 0.4);

    /* error */
    --error: #c0392b;
}
